# text editor
.vscode/

# jetbrains IDEs
.idea/

# swagger docs
src/api/docs/

# static files
static

# postgres persistence folder
postgres_data

# Log
*.log
.debug
tmp

# Env
*.env
fcm.json

# misc
.DS_Store

# Build and dist folders created while building docker prod image
build/
dist/